/**
 * @file
 * This is the master scss style sheet for the this project.
 *
 * @author
 * Jeffrey Hipp <jeffhipp@gmail.com>
 */
/* Globals
==========================*/
/* Contributed Libraries
==========================*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

blockquote, q {
  quotes: none; }
  blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

@font-face {
  font-family: 'FontAwesome';
  src: url("https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/fonts/fontawesome-webfont.eot?v=4.4.0");
  src: url("https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/fonts/fontawesome-webfont.eot?#iefix&v=4.4.0") format("embedded-opentype"), url("https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/fonts/fontawesome-webfont.woff2?v=4.4.0") format("woff2"), url("https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/fonts/fontawesome-webfont.woff?v=4.4.0") format("woff"), url("https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/fonts/fontawesome-webfont.ttf?v=4.4.0") format("truetype"), url("https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/fonts/fontawesome-webfont.svg?v=4.4.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal; }

table {
  border-collapse: collapse;
  margin: 0.8085rem 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #606060;
  font-weight: 600;
  padding: 0.8085rem 0;
  text-align: left; }

td {
  border-bottom: 1px solid gray;
  padding: 0.8085rem 0; }

tr,
td,
th {
  vertical-align: middle; }

fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0; }

legend {
  font-weight: 600;
  margin-bottom: 0.40425rem;
  padding: 0; }

label {
  display: block;
  font-weight: 600;
  margin-bottom: 0.40425rem; }

input,
select,
textarea {
  display: block;
  font-family: Georgia, serif;
  font-size: 16px; }

input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], input:not([type]), textarea,
select[multiple] {
  background-color: white;
  border: 1px solid gray;
  border-radius: 0.13475rem;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  margin-bottom: 0.8085rem;
  padding: 0.539rem;
  transition: border-color 150ms ease;
  width: 100%; }
  input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="email"]:hover, input[type="month"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="time"]:hover, input[type="url"]:hover, input[type="week"]:hover, input:not([type]):hover, textarea:hover,
  select[multiple]:hover {
    border-color: #666666; }
  input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, input:not([type]):focus, textarea:focus,
  select[multiple]:focus {
    border-color: #ff50a7;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(18, 89, 169, 0.7);
    outline: none; }
  input[type="color"]:disabled, input[type="date"]:disabled, input[type="datetime"]:disabled, input[type="datetime-local"]:disabled, input[type="email"]:disabled, input[type="month"]:disabled, input[type="number"]:disabled, input[type="password"]:disabled, input[type="search"]:disabled, input[type="tel"]:disabled, input[type="text"]:disabled, input[type="time"]:disabled, input[type="url"]:disabled, input[type="week"]:disabled, input:not([type]):disabled, textarea:disabled,
  select[multiple]:disabled {
    background-color: #f2f2f2;
    cursor: not-allowed; }
    input[type="color"]:disabled:hover, input[type="date"]:disabled:hover, input[type="datetime"]:disabled:hover, input[type="datetime-local"]:disabled:hover, input[type="email"]:disabled:hover, input[type="month"]:disabled:hover, input[type="number"]:disabled:hover, input[type="password"]:disabled:hover, input[type="search"]:disabled:hover, input[type="tel"]:disabled:hover, input[type="text"]:disabled:hover, input[type="time"]:disabled:hover, input[type="url"]:disabled:hover, input[type="week"]:disabled:hover, input:not([type]):disabled:hover, textarea:disabled:hover,
    select[multiple]:disabled:hover {
      border: 1px solid gray; }

textarea {
  resize: vertical; }

[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

[type="checkbox"],
[type="radio"] {
  display: inline;
  margin-right: 0.40425rem; }

[type="file"] {
  margin-bottom: 0.8085rem;
  width: 100%; }

select {
  margin-bottom: 0.8085rem;
  max-width: 100%;
  width: auto; }

/* Base
==========================*/
* {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0; }

html {
  font-size: 16px; }
  @media (min-width: 750px) {
    html {
      font-size: 16px; } }
  @media (min-width: 825px) {
    html {
      font-size: 16px; } }
  @media (min-width: 1140px) {
    html {
      font-size: 18px; } }
  @media (min-width: 1360px) {
    html {
      font-size: 19px; } }
  @media (min-width: 2100px) {
    html {
      font-size: 20px; } }

body {
  background: white;
  font-family: Georgia, serif;
  color: black;
  -webkit-font-smoothing: antialiased;
  line-height: 1.617rem; }

h1,
h2,
h3,
h4,
h5 {
  font-family: Trebuchet, Helvetica, sans-serif; }
  h1 a:hover,
  h2 a:hover,
  h3 a:hover,
  h4 a:hover,
  h5 a:hover {
    text-decoration: none; }
  h1:first-child,
  h2:first-child,
  h3:first-child,
  h4:first-child,
  h5:first-child {
    margin-top: 0; }

p {
  margin-bottom: 1.617rem; }

b,
strong {
  font-weight: bolder; }

em,
i {
  font-style: italic; }

a {
  color: hotpink;
  text-decoration: none;
  font-weight: bolder; }
  a:hover {
    color: #ff50a7;
    text-decoration: underline; }

small,
sub,
sup {
  font-size: 0.61805rem;
  font-size: 0.61805rem;
  line-height: 0.8085rem;
  letter-spacing: 0.025em; }

sup {
  vertical-align: super; }

sub {
  vertical-align: sub; }

abbr {
  letter-spacing: 0.05em;
  font-size: 0.94em; }

ol,
ul {
  padding-left: 1.617rem; }

ol > li > ol {
  list-style: lower-alpha; }

dt {
  font-weight: bolder; }

img {
  max-width: 100%; }

hr {
  border-top: 1px solid brown;
  margin: 1.617rem; }

code,
pre,
samp {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 0.94em; }

/* Layout
==========================*/
/* Components
==========================*/

/*# sourceMappingURL=maps/style.css.map */
