//
// Contains 2-dimensional array of breakpoint labels, each with screen width
// and base font size (latter to be applied in _elements.scss).
//

$breakpoints : (
  small: (
    width: 750px,
    font-size: 16px,
  ),

  medium: (
    width: 825px,
    font-size: 16px,
  ),

  large: (
    width: 1140px,
    font-size: 18px,
  ),

  x-large: (
    width: 1360px,
    font-size: 19px,
  ),

  xx-large: (
    width: 2100px,
    font-size: 20px,
  )

);

@function breakpoint($size) {
  @return map-get(map-get($breakpoints, $size), width);
}
