/**
 *   Styling for basic html elements, except form elements.
 *   For those, see_forms.scss.
 */

* {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}
html {
  font-size: $base-font-size;
  @each $breakpoints, $data in $breakpoints {
     @media (min-width: map-get($data, width)){
      & {
        font-size: map-get($data, font-size);
      }
    }
  }
}
body {
  background: $color-background;
  font-family: $b-font;
  color: $color-body-text;
  -webkit-font-smoothing: antialiased;
  line-height: $base-line-height;
}
// Neat visual grid display
@if ($visual-grid) {
  body:before {
    @include outer-container();
  }
}
/*Header Styles
==================*/
h1,
h2,
h3,
h4,
h5 {
  font-family: $h-font;
  a:hover {
    text-decoration: none;
  }
  &:first-child {
    margin-top: 0;
  }
}
/*Text Element Styles
==================*/
p {
  margin-bottom: $lu;
}
b,
strong {
  font-weight: bolder;
}
em,
i {
  font-style: italic;
}
a {
  color: $color-accent;
  text-decoration: none;
  font-weight: bolder;
  &:hover {
    color: $color-accent-dark;
    text-decoration: underline;
  }
}
blockquote {}
small,
sub,
sup {
  @include scale-font-size-to(-1);
  letter-spacing: 0.025em;
}
sup {
  vertical-align: super;
}
sub {
  vertical-align: sub;
}
abbr {
  letter-spacing: 0.05em;
  font-size: 0.94em;
}
/*Lists
================ */
ol,
ul {
  //ol and ul resets removed from the reset.scss files, so we don't have to redefine everything.
  padding-left: $lu;
}
ol > li > ol {
  list-style: lower-alpha;
}
%no-list-formatting {
  //removes list formatting via Sass @extend for menus, etc.
  display: block;
  &,
  li {
    list-style-type: none;
    list-style-image: none;
    padding-left: 0;
    margin-left: 0;
  }
}
dt {
  font-weight: bolder;
}

/* Miscellaneous
================ */

img {
  max-width: 100%;
  height: auto;
}
hr {
  border-top: 1px solid $color-tertiary;
  margin: $lu;
}
code,
pre,
samp {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 0.94em;
}
