//
// Contains global variabls for fonts famiies, base font-sizing, spacing
// and colors.
// 

$b-font: Georgia, serif; //Body font stack
$h-font:  Trebuchet, Helvetica, sans-serif; //heading font stack

$base-font-size: 16px ;
$em-base: $base-font-size; // for use with the rem(pixel) function.
$base-line-height: 1.617rem;// [ px line height w/ no px suffix]/[px font size w/ no unit suffix] + 0rem;

$lu: $base-line-height;

$max-width: 80% ; //define max-width for Neat outter-container mixin-in

// Use the following vars for doing creative stuff with column widths when Neat doesn't want to do it for you.
//
// $grid-columns: 11;
// $col: $grid-columns;
// $col-width: percentage(1/$col *.75); //approximates Neat column width calculation. Used a a measurement in some rules.
// @debug($col-width);

//Uncomment these to activate the visual column grid overlay
// $visual-grid: true !global;
// $visual-grid-index: front !global;
// $visual-grid-opacity: 0.05 !global;
// $visual-grid-color: red !global;


$color-main: gray;
$color-main-light: lighten($color-main, 9%);
$color-main-dark: darken($color-main, 9%);

$color-accent: hotpink;
$color-accent-dark: darken($color-accent, 5%);
$color-accent-light: desaturate(lighten($color-accent, 15%), 15%);



$color-tertiary: brown;
$color-tertiary-dark: darken($color-tertiary, 5%);

$color-background: white;
$color-body-text: black;
$color-body-text-light: tint($color-body-text, 38%);

$border-radius-default: $lu/12;

// Vars for Bitters partials utilized in project
// ==============================================
@import "bower_components/bitters/core/variables";

$base-border-color: $color-main;
$base-border: 1px solid $base-border-color;
$small-spacing: $lu/2;
$base-font-family: $b-font;
$heading-font-family:$h-font;
$base-background-color: $color-background;

$base-border-radius: $border-radius-default;
$base-spacing: $lu;
$action-color: $color-accent-dark;
