//
//  Sets Bourbon's typographic scale variable and provides mixins
//  for setting font size, as well as line height for vertical rhythm.
//


// Variables
// =============
//See list of Bourbon's defined scale variables:
//https://github.com/thoughtbot/bourbon/blob/v4-stable/app/assets/stylesheets/functions/_modular-scale.scss
$modular-scale-base: 1rem;
$modular-scale-ratio: $golden;

// Vertical rhythm function,
// based on http://codepen.io/sturobson/pen/jFKlJ
@mixin vertical-rhythm($size) {
      font-size: $size ;
      $line-height: ceil($size / ($base-line-height/2)) * ($base-line-height/2);
      line-height: $line-height;
}

// Mixin uses Bourbon Modular Scale function,
// modifying it by the heading font offset if needed to make typefaces
// play nicely together.
@mixin scale-font-size-to ($scale-value, $font-type:"b-font") {
  $offset: 1;
  // @if ($font-type ==  'h-font') {
  //   $offset =
  // }
  $font-size: modular-scale($scale-value, $modular-scale-base, $modular-scale-ratio) * $offset;

  font-size: $font-size;
  @include vertical-rhythm($font-size);

}
